.layout {
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto;
}

.leftPlayer {
    color: darkmagenta;
}

.rightPlayer {
    color: navy;
    background-color: antiquewhite;
}
